In [9]:
import pandas as pd
titanic = pd.read_csv('/Users/seuli/Downloads/titanic.csv')

In [2]:
print(titanic.columns)

Index(['Unnamed: 0', 'PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age',
       'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

## 1번 문제

In [33]:
titanic_3_0 = titanic[['Name', 'Survived', 'Fare']]


Fare = titanic_data['Fare'] 
Survived = titanic_data['Survived']

titanic_3_1 = titanic_1[Fare >= 100]
titanic_3 = titanic_data[Survived==0]

print(titanic_3)

# 지성 선생님 답
# titanic_3 = titanic[(titanic["Fare"] >= 100) & (titanic["Survived"] == 0)][["Name", "Survived", "Fare"]]
# 조건 두개이면 소괄호로 각각 묶기

                                                  Name  Survived      Fare
0                              Braund, Mr. Owen Harris       0.0    7.2500
4                             Allen, Mr. William Henry       0.0    8.0500
5                                     Moran, Mr. James       0.0    8.4583
6                              McCarthy, Mr. Timothy J       0.0   51.8625
7                       Palsson, Master. Gosta Leonard       0.0   21.0750
12                      Saundercock, Mr. William Henry       0.0    8.0500
13                         Andersson, Mr. Anders Johan       0.0   31.2750
14                Vestrom, Miss. Hulda Amanda Adolfina       0.0    7.8542
16                                Rice, Master. Eugene       0.0   29.1250
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...       0.0   18.0000
20                                Fynney, Mr. Joseph J       0.0   26.0000
24                       Palsson, Miss. Torborg Danira       0.0   21.0750
26                             Emir, Mr. Farred Chehab       0.0    7.2250
27                      Fortune, Mr. Charles Alexander       0.0  263.0000
29                                 Todoroff, Mr. Lalio       0.0    7.8958
30                            Uruchurtu, Don. Manuel E       0.0   27.7208
33                               Wheadon, Mr. Edward H       0.0   10.5000
34                             Meyer, Mr. Edgar Joseph       0.0   82.1708
35                      Holverson, Mr. Alexander Oskar       0.0   52.0000
37                            Cann, Mr. Ernest Charles       0.0    8.0500
38                  Vander Planke, Miss. Augusta Maria       0.0   18.0000
40      Ahlin, Mrs. Johan (Johanna Persdotter Larsson)       0.0    9.4750
41   Turpin, Mrs. William John Robert (Dorothy Ann ...       0.0   21.0000
42                                 Kraeff, Mr. Theodor       0.0    7.8958
45                            Rogers, Mr. William John       0.0    8.0500
46                                   Lennon, Mr. Denis       0.0   15.5000
48                                 Samaan, Mr. Youssef       0.0   21.6792
49       Arnold-Franchi, Mrs. Josef (Josefine Franchi)       0.0   17.8000
50                          Panula, Master. Juha Niilo       0.0   39.6875
51                        Nosworthy, Mr. Richard Cater       0.0    7.8000
..                                                 ...       ...       ...
844                                Culumovic, Mr. Jeso       0.0    8.6625
845                                Abbing, Mr. Anthony       0.0    7.5500
846                           Sage, Mr. Douglas Bullen       0.0   69.5500
847                                 Markoff, Mr. Marin       0.0    7.8958
848                                  Harper, Rev. John       0.0   33.0000
850            Andersson, Master. Sigvard Harald Elias       0.0   31.2750
851                                Svensson, Mr. Johan       0.0    7.7750
852                            Boulos, Miss. Nourelain       0.0   15.2458
854      Carter, Mrs. Ernest Courtenay (Lilian Hughes)       0.0   26.0000
859                                   Razi, Mr. Raihed       0.0    7.2292
860                            Hansen, Mr. Claus Peter       0.0   14.1083
861                        Giles, Mr. Frederick Edward       0.0   11.5000
863                  Sage, Miss. Dorothy Edith "Dolly"       0.0   69.5500
864                             Gill, Mr. John William       0.0   13.0000
867               Roebling, Mr. Washington Augustus II       0.0   50.4958
868                        van Melkebeke, Mr. Philemon       0.0    9.5000
870                                  Balkic, Mr. Cerin       0.0    7.8958
872                           Carlsson, Mr. Frans Olof       0.0    5.0000
873                        Vander Cruyssen, Mr. Victor       0.0    9.0000
876                      Gustafsson, Mr. Alfred Ossian       0.0    9.8458
877                               Petroff, Mr. Nedelio       0.0    7.8958
878                                 Laleff, Mr. Kristo       0.0    7.8958
881                                 Markun, Mr. Johann       0.0    7.8958
882                       Dahlberg, Miss. Gerda Ulrika       0.0   10.5167
883                      Banfield, Mr. Frederick James       0.0   10.5000
884                             Sutehall, Mr. Henry Jr       0.0    7.0500
885               Rice, Mrs. William (Margaret Norton)       0.0   29.1250
886                              Montvila, Rev. Juozas       0.0   13.0000
888           Johnston, Miss. Catherine Helen "Carrie"       0.0   23.4500
890                                Dooley, Mr. Patrick       0.0    7.7500

[549 rows x 3 columns]

/Users/seuli/venv/lib/python3.7/site-packages/ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys

## 2번 문제

In [27]:
titanic_2_0 = titanic[['Name', 'Survived', 'Embarked']]

Survived = titanic_2_0['Survived']

titanic_2 = titanic_2_0[Survived == 1]

print(titanic_2)

#titanic2 = titanic[titanic["Survived"] == 1][["Name", "Survived", "Embarked"]]

                                                  Name  Survived Embarked
1    Cumings, Mrs. John Bradley (Florence Briggs Th...       1.0        C
2                               Heikkinen, Miss. Laina       1.0        S
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)       1.0        S
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)       1.0        S
9                  Nasser, Mrs. Nicholas (Adele Achem)       1.0        C
10                     Sandstrom, Miss. Marguerite Rut       1.0        S
11                            Bonnell, Miss. Elizabeth       1.0        S
15                    Hewlett, Mrs. (Mary D Kingcome)        1.0        S
17                        Williams, Mr. Charles Eugene       1.0        S
19                             Masselmani, Mrs. Fatima       1.0        C
21                               Beesley, Mr. Lawrence       1.0        S
22                         McGowan, Miss. Anna "Annie"       1.0        Q
23                        Sloper, Mr. William Thompson       1.0        S
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...       1.0        S
28                       O'Dwyer, Miss. Ellen "Nellie"       1.0        Q
31      Spencer, Mrs. William Augustus (Marie Eugenie)       1.0        C
32                            Glynn, Miss. Mary Agatha       1.0        Q
36                                    Mamee, Mr. Hanna       1.0        C
39                         Nicola-Yarred, Miss. Jamila       1.0        C
43            Laroche, Miss. Simonne Marie Anne Andree       1.0        C
44                       Devaney, Miss. Margaret Delia       1.0        Q
47                           O'Driscoll, Miss. Bridget       1.0        Q
52            Harper, Mrs. Henry Sleeper (Myna Haxtun)       1.0        C
53   Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...       1.0        S
55                                   Woolner, Mr. Hugh       1.0        S
56                                   Rugg, Miss. Emily       1.0        S
58                        West, Miss. Constance Mirium       1.0        S
61                                 Icard, Miss. Amelie       1.0      NaN
65                            Moubarek, Master. Gerios       1.0        C
66                        Nye, Mrs. (Elizabeth Ramell)       1.0        S
..                                                 ...       ...      ...
809     Chambers, Mrs. Norman Campbell (Bertha Griggs)       1.0        S
820  Hays, Mrs. Charles Melville (Clara Jennings Gr...       1.0        S
821                                  Lulic, Mr. Nikola       1.0        S
823                                 Moor, Mrs. (Beila)       1.0        S
827                              Mallet, Master. Andre       1.0        C
828                       McCormack, Mr. Thomas Joseph       1.0        Q
829          Stone, Mrs. George Nelson (Martha Evelyn)       1.0      NaN
830            Yasbeck, Mrs. Antoni (Selini Alexander)       1.0        C
831                    Richards, Master. George Sibley       1.0        S
835                        Compton, Miss. Sara Rebecca       1.0        C
838                                    Chip, Mr. Chang       1.0        S
839                               Marechal, Mr. Pierre       1.0        C
842                            Serepeca, Miss. Augusta       1.0        C
849       Goldenberg, Mrs. Samuel L (Edwiga Grabowska)       1.0        C
853                          Lines, Miss. Mary Conover       1.0        S
855                         Aks, Mrs. Sam (Leah Rosen)       1.0        S
856         Wick, Mrs. George Dennick (Mary Hitchcock)       1.0        S
857                             Daly, Mr. Peter Denis        1.0        S
858              Baclini, Mrs. Solomon (Latifa Qurban)       1.0        C
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...       1.0        S
865                           Bystrom, Mrs. (Karolina)       1.0        S
866                       Duran y More, Miss. Asuncion       1.0        C
869                    Johnson, Master. Harold Theodor       1.0        S
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)       1.0        S
874              Abelson, Mrs. Samuel (Hannah Wizosky)       1.0        C
875                   Najib, Miss. Adele Kiamie "Jane"       1.0        C
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)       1.0        C
880       Shelley, Mrs. William (Imanita Parrish Hall)       1.0        S
887                       Graham, Miss. Margaret Edith       1.0        S
889                              Behr, Mr. Karl Howell       1.0        C

[342 rows x 3 columns]

## 3번 문제

In [28]:
titanic_1_0 = titanic[['Name', 'Survived', 'Sex', 'Age']]

Age = titanic_1_0['Age']
Survived = titanic_1_0['Survived']

titanic_1_1 = titanic_1_0[Age < 30]
titanic_1 = titanic_1_1[Survived == 1]

print(titanic_1)

# print(titanic[titanic["Age"] < 30][["Name", "Survived", "Sex", "Age"]])

                                                  Name  Survived     Sex  \
2                               Heikkinen, Miss. Laina       1.0  female
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)       1.0  female
9                  Nasser, Mrs. Nicholas (Adele Achem)       1.0  female
10                     Sandstrom, Miss. Marguerite Rut       1.0  female
22                         McGowan, Miss. Anna "Annie"       1.0  female
23                        Sloper, Mr. William Thompson       1.0    male
39                         Nicola-Yarred, Miss. Jamila       1.0  female
43            Laroche, Miss. Simonne Marie Anne Andree       1.0  female
44                       Devaney, Miss. Margaret Delia       1.0  female
53   Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...       1.0  female
56                                   Rugg, Miss. Emily       1.0  female
58                        West, Miss. Constance Mirium       1.0  female
66                        Nye, Mrs. (Elizabeth Ramell)       1.0  female
68                     Andersson, Miss. Erna Alexandra       1.0  female
78                       Caldwell, Master. Alden Gates       1.0    male
81                         Sheerlinck, Mr. Jan Baptist       1.0    male
84                                 Ilett, Miss. Bertha       1.0  female
88                          Fortune, Miss. Mabel Helen       1.0  female
97                     Greenfield, Mr. William Bertram       1.0    male
106                   Salkjelsvik, Miss. Anna Kristine       1.0  female
125                       Nicola-Yarred, Master. Elias       1.0    male
127                          Madsen, Mr. Fridtjof Arne       1.0    male
133      Weisz, Mrs. Leopold (Mathilde Francoise Pede)       1.0  female
136                       Newsom, Miss. Helen Monypeny       1.0  female
141                           Nysten, Miss. Anna Sofia       1.0  female
142  Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...       1.0  female
146       Andersson, Mr. August Edvard ("Wennerstrom")       1.0    male
151                  Pears, Mrs. Thomas (Edith Wearne)       1.0  female
156                   Gilnagh, Miss. Katherine "Katie"       1.0  female
165    Goldsmith, Master. Frank John William "Frankie"       1.0    male
..                                                 ...       ...     ...
724                      Chambers, Mr. Norman Campbell       1.0    male
730                      Allen, Miss. Elisabeth Walton       1.0  female
742              Ryerson, Miss. Susan Parker "Suzette"       1.0  female
750                                  Wells, Miss. Joan       1.0  female
751                                Moor, Master. Meier       1.0    male
755                          Hamalainen, Master. Viljo       1.0    male
762                              Barah, Mr. Hanna Assi       1.0    male
777                      Emanuel, Miss. Virginia Ethel       1.0  female
780                               Ayoub, Miss. Banoura       1.0  female
781          Dick, Mrs. Albert Adrian (Vera Gillespie)       1.0  female
786                          Sjoblom, Miss. Anna Sofia       1.0  female
788                         Dean, Master. Bertram Vere       1.0    male
802                Carter, Master. William Thornton II       1.0    male
803                    Thomas, Master. Assad Alexander       1.0    male
804                            Hedman, Mr. Oskar Arvid       1.0    male
821                                  Lulic, Mr. Nikola       1.0    male
823                                 Moor, Mrs. (Beila)       1.0  female
827                              Mallet, Master. Andre       1.0    male
830            Yasbeck, Mrs. Antoni (Selini Alexander)       1.0  female
831                    Richards, Master. George Sibley       1.0    male
853                          Lines, Miss. Mary Conover       1.0  female
855                         Aks, Mrs. Sam (Leah Rosen)       1.0  female
858              Baclini, Mrs. Solomon (Latifa Qurban)       1.0  female
866                       Duran y More, Miss. Asuncion       1.0  female
869                    Johnson, Master. Harold Theodor       1.0    male
874              Abelson, Mrs. Samuel (Hannah Wizosky)       1.0  female
875                   Najib, Miss. Adele Kiamie "Jane"       1.0  female
880       Shelley, Mrs. William (Imanita Parrish Hall)       1.0  female
887                       Graham, Miss. Margaret Edith       1.0  female
889                              Behr, Mr. Karl Howell       1.0    male

       Age
2    26.00
8    27.00
9    14.00
10    4.00
22   15.00
23   28.00
39   14.00
43    3.00
44   19.00
53   29.00
56   21.00
58    5.00
66   29.00
68   17.00
78    0.83
81   29.00
84   17.00
88   23.00
97   23.00
106  21.00
125  12.00
127  24.00
133  29.00
136  19.00
141  22.00
142  24.00
146  27.00
151  22.00
156  16.00
165   9.00
..     ...
724  27.00
730  29.00
742  21.00
750   4.00
751   6.00
755   0.67
762  20.00
777   5.00
780  13.00
781  17.00
786  18.00
788   1.00
802  11.00
803   0.42
804  27.00
821  27.00
823  27.00
827   1.00
830  15.00
831   0.83
853  16.00
855  18.00
858  24.00
866  27.00
869   4.00
874  28.00
875  15.00
880  25.00
887  19.00
889  26.00

[156 rows x 4 columns]

/Users/seuli/venv/lib/python3.7/site-packages/ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys

## 4번 문제

In [17]:
titanic_4 = titanic.groupby(['Survived','Pclass'])[['Name', 'Survived', 'Pclass']].count()
print(titanic_4)

                 Name  Survived  Pclass
Survived Pclass
0.0      1         80        80      80
         2         97        97      97
         3        372       372     372
1.0      1        136       136     136
         2         87        87      87
         3        119       119     119